<h1>Generator szkolnych <span class="colored">statutów</span> :)</h1>
<div class="card">
  <ul>
    <li *ngFor="let sentence of sentencesToDisplay">
      {{ sentence }}
    </li>
  </ul>
</div>

<button class="button" (click)="generate()">GENERUJ PONOWNIE</button>
