body {
  background-color: #242520;
  margin: 0;
  padding: 0 12px;
  height: 100%;
  font-family: 'Montserrat';
}

h1 {
  color: #ffffff;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
}

.colored {
  color: #fdcd18;
}

.card {
  background-color: #edf2f7;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 800px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  outline: none;
  background-color: #fdcd18;
  border: 1px solid #fdbd18;
  color: #000;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
